<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MineHeadDemo-master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74197B721E5EAC3F004A2AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74197B8B1E5EAC40004A2AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74197B961E5EAC40004A2AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
